.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fetch-user-btn {
  border: 1px solid lightgray;
  border-radius: 14px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
}

.display-user {
  width: 300px;
  text-align: center;
}
